.app{
    box-sizing: border-box;
}

.body-container{
    display: flex;
    /* flex-direction:column; */
    /* flex-wrap: wrap; */

    /* display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem; */
   
}